<div class="container mx-auto pt-14 flex">
    <div class="w-5/12">
        <h2 class="text-gray-500 text-center text-5xl font-bold tracking-wider leading-snug">A super simple and easy to use travel journal</h2>
        <p class="text-center mt-5 text-xl tracking-wide p-10">Start recording your best memories from your best trips!</p>
        <div class="text-center mt-4">
            <button class="hover:bg-gray-800 bg-gray-700 text-slate-100 font-semi-bold px-4 p-2">Start recording</button>
        </div>
    </div>
    <div class="flex w-7/12 px-5 fadeIn">
        <div class="w-2/4 shadow-2xl px-7 py-10 border-e-2">
            <h3 class="font-bold mb-7">November 12, 2021</h3>
            <p class="text-sm mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non eligendi suscipit nemo itaque, rerum omnis reprehenderit, laudantium repellat voluptates nesciunt excepturi ullam blanditiis consectetur fuga. Dolores iure veritatis dolorem iste.</p>
            <img src="/assets/images/travel_picture.jpg" alt="">
            
        </div>
        <div class="w-2/4 shadow-2xl px-7 py-10 border-e-2">
            <p class="text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt excepturi ullam blanditiis consectetur fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <img src="/assets/images/travel_map.jpg" alt="">
        </div>
    </div>
    
</div>