<div class="w-full bg-gray-300 mt-10">
    <div class="container mx-auto w-3/4 flex p-14 justify-between">
        <div class="w-5/12">
            <h3 class="tracking-wider text-3xl font-extrabold text-gray-600">The best memories</h3>
            <p class="tracking-wide mt-5 text-xl">Travel journal wants to keep you in touch with your greatest memories of your travels, no matter where you are!</p>
            <ul class="mt-7">
                <li class="mt-5"><span class="bg-cyan-400 px-2 text-white me-2">&#10004;</span> Add pictures and videos of your adventures</li>
                <li class="mt-5"><span class="bg-cyan-400 px-2 text-white me-2">&#10004;</span> Share your adventures with other travellers in realtime</li>
                <li class="mt-5"><span class="bg-cyan-400 px-2 text-white me-2">&#10004;</span> Help other travellers find awesome spots</li>
                <li class="mt-5"><span class="bg-cyan-400 px-2 text-white me-2">&#10004;</span> Share helpful information about you previous locations</li>
                <li class="mt-5"><span class="bg-cyan-400 px-2 text-white me-2">&#10004;</span> Get reliable tips about attractions, restaurants, bars and more</li>
            </ul>
            
        </div>
        <div class="w-5/12">
            <img src="/assets/images/about_travel.webp" alt="">
        </div>
    </div>
</div>